#background {
    background-image: url("background.png");
    height: 630px;
    margin-bottom: 3px;
    -webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);

}

#mainheader {
    text-align: center;
    padding-top: 100px;
    color: white;
    
}

#mongo {
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

#header-line {
    width: 55px;
    position: relative;
    bottom: 18px;
    border-color: white;
    
}

#scraper {
    font-family: 'Poiret One', cursive;
    transform: scale(2.8,2);
    position: relative;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    
    
 
}

.scrape {
    border-radius: 25px;
    position: relative;
    background-color: rgb(67, 67, 104);
    color: white;
    border-color: white;
    left: 2px;
    
}

.scrape:hover {
    background-color: white;
    color: black;
    border-color: solid 2px rgb(67, 67, 104);
}

.button-wrapper {
    margin-top: 100px;
    text-align: center;
}

.results {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 3px;
    position: relative;
    left: 4px;
}